
.sysTime{
  color: #f4f4f4;
}
.weather_img{
  margin-left: 10px;
  img{
      height: 15px;
  }
}
.weather_detail{
  margin-left: 5px;
}
.weather_data{
  display: inline-block;
  text-align: right;
  margin-right: 30px;
}